<div class="container" ng-controller="portfolioItemController">
    <div class="row">
        <div class="col-md-4">
            <img src="{{portfolio.coverImage.location}}" class="cover-image">
        </div>
        <div class="col-md-8">
            <h1>{{portfolio.name}}</h1>
            <p>{{portfolio.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Overview</h4>
            <p>
                {{portfolio.overview}}
            </p>
        </div>            
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Problem</h4>
            <p>
                {{portfolio.problem}}
            </p>
        </div>            
    </div>
</div>