body {

	padding-top: 30px; 

}

.nav nav-bar {

	display: inline;
}

.container-fluid-section {

	min-height: 400px;
}
.section-title {

	background-color: #FF6666;
	min-height: 70px;
}
#about {

	background-color: #D0D0D0;

}

#design-process {

	background-color: #E8E8E8;

}

#leadership {

	background-color: #D0D0D0;

}