<div class="jumbotron">
    <div class="container">
        <div class="col-md-4">
            <img src="holder.js/350x250?bg=2a2025">    
        </div>
        <div class="col-md-8">
            <p class="about">
                I’m a passionate user experience professional who lives and breathes all things UX. I believe in being an advocate and the last line of defense for users - listening to, talking to, and observing them in order to understand their needs so I can help deliver the best experience possible for them in the products I design.
            </p>
            <p class="about">
                I design for human experiences and the way people work and process information.
            </p>
            <p class="about">
                I love the discovery and exploration phases of projects but I’m not afraid to jump in at any stage with my experience including research, project management, front-end development, and more. I’ll talk user needs, business goals, budgets, Angular.js, and databases.
            </p>                
        </div>
        
    </div>
</div>
<div class="row">
    <div class="container design-process">
        <h1>Selected Work</h1>
        <div class="col-md-4">
            <div class="portfolio-item">
                <a ui-sref="portfolio({ portfolioID: 'sourcecheck' })"
                    <img src="holder.js/350x250?bg=2a2025">
                    <h4>GE Digital - SourceCheck</h4>
                </a>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur quam non risus mattis accumsan. Nulla vulputate consequat sem, imperdiet pulvinar dui tincidunt non. Curabitur purus ligula, venenatis non viverra ac, mattis et nunc.
                </p>                
            </div>
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <img src="holder.js/350x250?bg=2a2025">
                <h4>Wildlife Strikes</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur quam non risus mattis accumsan. Nulla vulputate consequat sem, imperdiet pulvinar dui tincidunt non. Curabitur purus ligula, venenatis non viverra ac, mattis et nunc.
                </p>                
            </div>                    
        </div>
        <div class="col-md-4">
            <div class="portfolio-item">
                <img src="holder.js/350x250?bg=2a2025">
                <h4>Wildlife Strikes</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur quam non risus mattis accumsan. Nulla vulputate consequat sem, imperdiet pulvinar dui tincidunt non. Curabitur purus ligula, venenatis non viverra ac, mattis et nunc.
                </p>                
            </div>            
        </div>    
    </div>
</div>

<!--
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <ul ng-controller="homeController">
                <li ng-repeat="item in portfolioItems">
                    
                    {{item.title}}
                    {{item.description}}
                    
                </li>
            </ul>
            <h4>Forecast by City</h4>
            <div class="form-group">
                <input type="text" class="form-control" />
            </div>
            <a href="#/resume" class="btn btn-primary">Get Forecast</a>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur quam non risus mattis accumsan. Nulla vulputate consequat sem, imperdiet pulvinar dui tincidunt non. Curabitur purus ligula, venenatis non viverra ac, mattis et nunc. Praesent gravida dui ac lectus imperdiet vulputate. Curabitur consectetur nec purus et posuere. Suspendisse dictum, lacus in feugiat tincidunt, nunc mi pretium neque, sit amet mollis mauris ante quis urna. Phasellus efficitur finibus faucibus.

            Donec ultricies sit amet augue quis hendrerit. Vivamus quis dui ac purus volutpat convallis. Suspendisse vel tempus nisl, non porttitor libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In volutpat hendrerit risus sit amet sodales. Cras viverra sapien in feugiat consequat. Morbi a erat sagittis, volutpat nisl id, ornare mauris. Nam in sem vulputate, consequat orci nec, vestibulum tortor.

            Pellentesque velit erat, iaculis pretium aliquam a, posuere congue lorem. Sed vitae arcu consectetur, dapibus lorem in, porttitor nibh. Mauris imperdiet gravida velit ut elementum. Nulla libero augue, rhoncus et fringilla eget, vehicula et elit. Sed nec est eget erat scelerisque sagittis. Suspendisse vel congue tellus. Donec aliquam imperdiet quam, ac rhoncus turpis gravida eu. Etiam et volutpat quam. Cras vel magna orci. Cras lobortis ex non vulputate convallis. Pellentesque ante erat, efficitur vitae sodales eget, iaculis sed enim. Fusce scelerisque finibus aliquam. Donec blandit nibh quis dui viverra vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam elementum urna sed sapien vestibulum lacinia.

            Sed ut est placerat augue consequat sollicitudin id quis sem. Ut pulvinar elit dolor, eget ullamcorper ipsum lacinia vel. Nunc a consectetur lectus. Pellentesque dui nisl, semper sit amet tincidunt eget, aliquam id quam. Phasellus vitae nulla libero. Nullam et sem diam. Cras erat purus, luctus ac pharetra at, ornare id metus. Integer mi est, posuere ut felis sed, efficitur blandit nisi. Vivamus vitae ligula sit amet eros consectetur tristique a a dolor.

            Donec sed molestie tellus. Mauris semper, massa a placerat consequat, massa metus suscipit neque, a pulvinar nunc nibh sagittis enim. Suspendisse vitae vulputate elit, sit amet dictum mauris. Vivamus in nibh nec quam efficitur scelerisque. Fusce pretium magna ullamcorper orci congue, eu aliquet metus pharetra. Cras hendrerit ligula dignissim tincidunt eleifend. Proin tristique arcu ac arcu suscipit, non venenatis magna ornare. Phasellus tincidunt nibh eget risus accumsan iaculis. Phasellus a sapien porta, sodales lectus sed, lobortis magna. Donec eu dui ligula. Aliquam auctor sed ante sit amet consequat.

            </p>
        </div>
    </div>
</div>-->